body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Alata", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "home"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 100px;
  height: 100vh;
}

.header {
  grid-area: header;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.home {
  grid-area: home;
}

.footer {
  grid-area: footer;
  background-color: #e8e8e8;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 500px;
  margin: 6rem auto;
}

.lg {
  background-color: #e8e8e8;
  border-radius: 8px;
  padding: 1rem;
}

.menu-link {
  margin-left: 1rem;
}
.drawer div a {
  transition: all 0.2s ease-in-out;
}
.drawer div a:hover {
  background: #e8e8e8;
}

.home {
  height: 100vh;
  width: 100%;
}
.home li {
  list-style: none;
}

.media{
  width: 100%;
}

.media ul {
  position: absolute;
  bottom:250px;
  left: -140px;
  transform: rotate(-90deg);
}

.media ul li{
  font-size:10px;
  font-weight: 600;
  letter-spacing: 2px;
  display: inline-block;
  padding: 0 30px;
}

.text {
    position: absolute;
    bottom:200px;
    left: 100px;
    transform: rotate(-90deg);
  
}

.text h1:after{
  content: 'BELGRADE';
  position: absolute;
  top: 100px;
  left: -80px;
  color: #EFDE74;
  z-index: -1;
  font-size: 150px;
  font-weight: 600;
  letter-spacing: 8px;

}

.text h1{
  font-size: 120px;
  font-weight: 900;
  letter-spacing: -10px;
}

.text h3{
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
}

.text p{
  width: 200px;
  font-size: 12px;
  margin-top: 30px;
  font-weight: 500;
}