body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Alata", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "home"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 0px 1fr 100px;
  height: 100vh;
}

#header {
  grid-area: header;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: rgba(0,0,0,.2);
  transition:all .3s ease-in-out;
}
.home {
  grid-area: home;
}

.footer {
  grid-area: footer;
  background-color: #e8e8e8;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 500px;
  margin: 6rem auto;
}

.lg {
  background-color: #e8e8e8;
  border-radius: 8px;
  padding: 1rem;
}

.menu-link {
  margin-left: 1rem;
}
.drawer div a {
  transition: all 0.3s ease-in-out;
}
.drawer div a:hover {
  background: #e8e8e8;
}

.home {
  width: 100%;
  
}


.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;

  height: 300px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  position: absolute;
  bottom: 0px;
}